<%= simple_form_for @page do |f| %>
  <%= render "shared/error_messages", target: @page %>

  <%= f.input :slug, hint: "#{Setting.base_url}/wiki/:slug"%>
  <%= f.input :title, input_html: { class: "xxlarge" } %>

  <div class="edit-tools">
    <%= render "/shared/editor_toolbar" %>
  </div>

  <div class="form-group">
    <%= f.text_area :body, rows: 30, class: 'form-control spirit-editor' %>
    <p class="help-block">
      请使用 Markdown 格式编写,可以试试用 <a href='https://www.typora.io' target='_blank'>Typora</a> 这个 App 来编写。
    </p>
  </div>

  <% if not @page.new_record? %>
    <%= f.input :change_desc, as: :text, input_html: { rows: "2" }, hint: t("pages.describe_this_time_change") %>
  <% end %>
  <div class="form-group">
    <%= f.submit t("common.save"), class: "btn btn-primary", 'data-disable-with' => t("common.saving") %>
    <%= link_to t("common.cancel"), pages_path, class: "btn btn-default reset" %>
  </div>
<% end %>
