<% title_tag @page.title %>

<div class="row">
  <div class="hide-ios">
    <%= render 'sidebar' %>
  </div>
  <div class="col-md-9 page-detail">
    <div class="panel panel-default">
      <% if !@page.locked or admin? %>
        <div class="panel-heading">
          <h1><%= @page.title %></h1>
          <div class="infos">
            <%= link_to comments_page_path(@page.slug) do %>
              <%= @page.comments_count %> 条评论
            <% end %>,
            <%= @page.version %> 次修正，<%= @page.hits.to_s %> 次阅读， <%= t("common.last_modified_at")%> <%= timeago(@page.updated_at) %>
            <span class="pull-right opts hide-ios">
              <%= link_to(icon_tag('pencil'), edit_page_path(@page)) if can? :edit, @page %>
            </span>
          </div>
        </div>

      <% end %>

      <div class="panel-body markdown markdown-toc">
        <article>
          <%= @page.body_html %>
        </article>
      </div>

      <div class="editors panel-footer clearfix">
        <div class="heading">
          <%= t("pages.wiki_page_contributors")%>
          <span class="pull-right"><%= social_share_button_tag h("#{@page.title} via: @#{Setting.twitter_id} ") %></span>
        </div>
        <div class="avatars">
          <% @page.editors.each do |item| %>
            <%= user_avatar_tag(item, :xs) %>
          <% end %>
        </div>
        <div class="buttons hide-ios">
          <%= link_to "发表评论", comments_page_path(@page.slug, anchor: "new_comment"), class: "btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
</div>
